.menu-wrap {
    min-width: 100%;
    height: 100%
}

.menu-items-wrap {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

.menu-box {
    background-color: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    text-align: left;
    cursor: pointer;
    color: white;
    position: relative;
}

.menu-box:hover {
    background-color: var(--primary);
}

.menu-box:hover p {
    color: #111;
}

.menu-box p {
    color: #eee;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}